.box {
    display: flex;
    background-color: aqua;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.div1 {
    background-color: bisque;
    width: 100px;
    height: 100px;
}
.div2 {
    background-color: rgb(235, 157, 63);
    width: 100px;
    height: 100px;
}
.div3 {
    background-color: rgb(138, 89, 30);
    height: 100px;
    width: 100px;
}
.div4 {
    background-color: rgb(19, 10, 0);
    width: 100px;
    height: 100px;
}